/*
Theme: Real Estate Builders Free Responsive Website Templates - iconDescription: Free to use for personal and commercial use
Author: WebThemez.com
Website: http://webthemez.com
Note: Please do not remove the footer backlink (webthemez.com)--(if you want to remove contact: webthemez@gmail.com)
Licence: Creative Commons Attribution 3.0** - http://creativecommons.org/licenses/by/3.0/
*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
:root{
    --color-header: hsl(180, 50%, 30%);
    --height-header: 8rem;
}
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: "Segoe UI";
    font-size: 1.5rem;
    background: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 20%);
    margin-top: var(--height-header);
}
/*General*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    font-family: 'Raleway', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-bottom: 15px;
}
h2 {
	margin: 30px 0;
}
.navbar-toggle {
	background-color: rgba(0, 0, 0, 0.89);
}
.navbar-nav>li>a {
	padding-top: 12px;
	padding-bottom: 12px;
    font-family: 'Oswald', sans-serif;

	font-weight: 400 !important;
}
blockquote {
	font-style: italic;
	font-family: Georgia;
	color: #999;
	margin: 0px 0 0px;
	padding: 0px 20px;
}
label {
	color: #777;
}
.btn-inline {
	color: #F7FF2C;
	font-size: 16px;
	font-weight: 600;
}
.form-control {
	display: block;
	width: 100%;
	height: 41px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 2.428571;
	color: #555;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
}
.navbar-inverse .navbar-brand img {
	/* width: 171px; */
}
.section-title {
	margin-bottom: 20px;
}
/* Header */
#head {
	/*background: #181015 url( ../images/bg_header.jpg) no-repeat;*/
	background-size: cover;
	height: 400px;
	text-align: center;
	color: white;
	font-weight: 300;
	position: relative;
	background-position-x: center;
}
#head.secondary {
	height: 100px;
	min-height: 100px;
	padding-top: 0px;
}
#head .lead {
	font-size: 44px;
	margin-bottom: 6px;
	color: white;
	line-height: 1.15em;
}
#head .tagline {
	color: rgba(255,255,255,0.75);
	margin-bottom: 25px;
}
#head .tagline a {
	color: #fff;
}
#head .btn {
	margin-bottom: 10px;
}
#head .btn-default {
	text-shadow: none;
	background: transparent;
	color: rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.5);
	background: transparent;
}
#head .btn-default:hover, #head .btn-default:focus {
	color: rgba(255,255,255,.8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,.8);
	background: transparent;
}
#head .btn-default:active, #head .btn-default.active {
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
	-moz-box-shadow: inset 0px 0px 0px 3px #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	background: transparent;
}
.fluid_container {
	bottom: 0;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 0;
}
#camera_wrap_4 {
	bottom: 0;
	height: 400px !important;
	left: 0;
	margin-bottom: 0!important;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_bar {
	z-index: 2;
}
.camera_thumbs {
	margin-top: -100px;
	position: relative;
	z-index: 1;
}
.camera_thumbs_cont {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.camera_overlayer {
	opacity: .1;
}
.panel {
	margin-bottom: 0px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.panel-body {
	padding: 0px;
}
.btn-action, .btn-primary {
	color: #FFEFD7;
	background-image: -webkit-linear-gradient(top, #0ecfec 0%, #09bed9 100%);
	background-image: linear-gradient(to bottom, #0ecfec 0%, #09bed9 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0ecfec22', endColorstr='#09bed900', GradientType=0);
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border: 0 none;
}
.btn-action:hover, .btn-primary:hover {
	background: #04a0b7;
}
.btn:hover, .btn:active {
	color: #333;
	background-color: #E4D806;
	box-shadow: none;
}
ul, .list.custom-list ul {
	margin: 0 0 11px;
	list-style-type: none;
	padding-left: 10px;
}
.list.custom-list ul li {
	margin: 0;
	padding: 6px 0 6px 16px;
	position: relative;
	background: url(../images/arrow.png) no-repeat 0 -78px;
}
.list.custom-list ul li a {
	font: 14px/1.2em 'Roboto', sans-serif;
	color: #999999;
	text-transform: none;
	display: inline;
	position: relative;
}
.thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumbnail time {
	background: #ae130c;
	padding: 5px 0;
	display: block;
	text-indent: 12px;
	color: #fff;
}
.thumbnail .caption {
	color: #383838;
	background: #ECECEC;
	border-top: 6px solid #FF822F;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.54);
}
.thumbnail .caption:hover {
}
.thumbnail .caption a {
	font: 20px;
	color: #000000;
}
.slideUp {
	top: -100px;
}
.navbar-inverse {
    /* background: rgb(255, 130, 47); */
    background: var(--color-header);
	position: absolute;
	z-index: 99999999;
	width: 100%;
}
.navbar-inverse {
	border: none;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
	color: #FFFFFF;
	/* font-size: 16px; */
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background: none;
	color: hsl(0, 0%, 60%) !important;
}
.navbar-inverse .navbar-nav > .active > a {
    /* color: #000000; */
    color: hsl(0, 0%, 60%);
	border-radius: 5px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
	text-align: left;
}
.thumbnail>img, .thumbnail a>img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EFE204;
    border: 1px solid #EFE204;
}
/* Highlights*/
.highlight {
	margin-top: 40px;
}
.h-caption {
	text-align: center;
}
.h-caption i {
	display: block;
	font-size: 54px;
	color: #ae130c;
	margin-bottom: 36px;
}
.h-caption h4 {
	color: #382526;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
div.hbox {
	background: #fff;
	padding: 10px 15px;
}
.h-body {
}
.jumbotron {
	background-color: #E0E0E0;
}
.page-header {
	border-bottom: 1px solid #15c008;
}
.page-title {
	margin-top: 20px;
	font-weight: 300;
	color: #15c008;
}
.text-muted {
	color: #888;
}
.breadcrumb {
	background: none;
	padding: 0;
	margin: 30px 0 0px 0;
}
ul.list-spaces li {
	margin-bottom: 10px;
}
/* Helpers */
.container-full {
	margin: 0 auto;
	width: 100%;
}
.top-space {
	margin-top: 60px;
}
.top-margin {
	margin-top: 20px;
}
.circle {
	background: rgb(214, 214, 214);
	width: 95px;
	height: 95px;
	border-radius: 90px;
	line-height: 95px;
	margin: 0 auto 20px;
}
img {
	max-width: 100%;
}
img.pull-right {
	margin-left: 10px;
}
img.pull-left {
	margin-right: 10px;
}
/*Packages*/
.cuadro_intro_hover {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 190px;
	margin-bottom:20px;
}

.cuadro_intro_hover:hover .caption {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}

.cuadro_intro_hover img {
    z-index: 4;
}

.cuadro_intro_hover .caption {
    position: absolute;
    top: 150px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.cuadro_intro_hover .blur {
    background-color: rgba(255, 130, 47, 0.82);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.cuadro_intro_hover .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top: -26px;
    width: 100%;
}

.caption-text p {
    color: #FFFFFF;
    padding: 0 10px;
}

.caption-text h3 {
    padding: 18px;
    font-size: 16px;
    color: #fff;
}
#map {
	width: 100%;
	height: 280px;
}
#social {
	margin-top: 50px;
	margin-bottom: 50px;
}
#social .wrapper {
	width: 340px;
	margin: 0 auto;
}
.sidebar {
	padding-top: 36px;
	/* padding-bottom: 30px; */
}
.sidebar .panel {
	margin-bottom: 20px;
}
.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 {
	margin-top: 20px;
}
.featured-box {
	padding: 20px;
	margin-bottom: 20px;
	background: #F3F3F3;
}
.featured-box .text {
	padding-left: 80px;
}
.featured-box h3 {
	margin: 0 0 5px 0;
}
.featured-box i {
	position: absolute;
	display: inline-block;
	color: #808080;
	background: #FFFFFF;
	padding: 0px;
	border-radius: 50px;
	width: 24px;
	height: 24px;
	margin: 0px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
footer {
	background: #ECECEC;
	margin-top: 40px;
}
.social {
	margin: 20px 0;
}
.social a {
	font-size: 32px;
	margin: 0 10px;
	color: #8c8c8c;
}
.social a:hover {
	color: #ae130c;
}
/* Footer */
.footer1 {
	background: #fff;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}
.footer1 a {
	color: #ccc;
}
.footer1 a:hover {
	color: #fff;
}
.footer1 .panel {
	margin-bottom: 30px;
}
.footer1 .panel-title {
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
	margin: 0 0 20px;
}
.footer1 .entry-meta {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 35px 0;
	padding: 2px 0;
	color: #888888;
	font-size: 12px;
	font-size: 0.75rem;
}
.footer1 .entry-meta a {
	color: #333333;
}
.footer1 .entry-meta .meta-in {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.follow-me-icons {
	font-size: 30px;
}
.follow-me-icons i {
	float: left;
	margin: 0 10px 0 0;
	color: #ae130c;
}
.footer2 {
	background: #282828;
	padding: 15px 0;
	color: #9F9F9F;
	font-size: 12px;
}
.footer2 a {
	color: #999;
}
.footer2 a:hover {
	color: #fff;
}
.footer2 p {
	margin: 0;
}
.panel-simplenav {
	margin-left: -5px;
}
.panel-simplenav a {
	margin: 0 5px;
}
#services .fa {
	color: #ae130c;
}
/* carousel */
#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px 0px 0px;
}
/* Control buttons  */
#quote-carousel .carousel-control {
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
	left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
	right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
	background: #333333;
}
#quote-carousel img {
	width: 250px;
	height: 100px;
}
/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}
.item blockquote img {
	margin-bottom: 10px;
}
.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}
.contact ul {
	padding: 0px;
}
.contact ul li {
	margin-bottom: 10px;
	list-style: none;
}
footer ul li {
	list-style: none;
}
#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
/* ------- */
.secpadding{
padding:15px 0;
}
.btm-section{
background: #282828;
margin-top:30px;
padding: 30px 0;
margin-bottom: -40px;
color: #999;
border-top: 6px solid #DCDCDC;
}
.search-panel {
    background: #181015 url(../images/slides/slide1.jpg) 0px -809px no-repeat;
    width: 100%;
    color: #fff;
    padding: .5rem;
    border-top: #FF822F 4px solid;
}
.search-panel form {
    text-align: center;
    color: #fff;
}
.search-panel .btn{
background-color: #EFE204;
}
.search-panel .form-group {
    margin: 0 5px 20px 5px;
    position: relative;
}
/* Form */

.checkbox.switch  {
    padding-top: 4px;
}
.checkbox.custom-checkbox input[type="checkbox"],
.radio.custom-radio input[type="radio"],
.checkbox.switch input[type="checkbox"] {
    position: absolute;
    left: -9999em;
}
.checkbox.custom-checkbox label,
.radio.custom-radio label,
.checkbox.switch label {
    padding-left: 0;
    color: #fff;
}
.checkbox.custom-checkbox span,
.radio.custom-radio span {
    background-color: #fff;
    border: 1px solid #999;
    font-size: 10px;
    line-height: 10px;
    padding: 3px;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
    color: transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.radio.custom-radio span {
    border-radius: 50%;
    line-height: 9px;
}
.checkbox.custom-checkbox input:checked+span,
.radio.custom-radio input:checked+span {
    background-color: #EFE204;
    border-color: #EFE204;
}
.checkbox.custom-checkbox input[disabled]+span,
fieldset[disabled] .checkbox.custom-checkbox input+span,
.radio.custom-radio input[disabled]+span,
fieldset[disabled] .radio.custom-radio input+span {
    border-color: #e8e8e8;
}
.checkbox.custom-checkbox input[disabled]:checked+span,
fieldset[disabled] .checkbox.custom-checkbox input:checked+span,
.radio.custom-radio input[disabled]:checked+span,
fieldset[disabled] .radio.custom-radio input:checked+span {
    border-color: #b9ebb9;
    background-color: #b9ebb9;
}
.checkbox.switch span.cs-place {
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.checkbox.switch span.cs-handler {
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    padding: 7px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}
.checkbox.switch input:checked+span.cs-place {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox.switch input:checked+span.cs-place span.cs-handler {
    margin-left: 31px;
    color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox.switch input[disabled]+span.cs-place,
fieldset[disabled] .checkbox.switch input+span.cs-place {
    border-color: #dddddd;
}
.checkbox.switch input[disabled]+span.cs-place span.cs-handler,
fieldset[disabled] .checkbox.switch input+span.cs-place span.cs-handler {
    border-color: #dddddd;
}
.checkbox.switch input:checked[disabled]+span.cs-place,
fieldset[disabled] .checkbox.switch input:checked+span.cs-place {
    border-color: #b9ebb9;
    background-color: #b9ebb9;
}
.checkbox.switch input:checked[disabled]+span.cs-place span.cs-handler,
fieldset[disabled] .checkbox.switch input:checked+span.cs-place span.cs-handler {
    color: #b9ebb9;
    border-color: #b9ebb9;
}
.input-group-addon {
border-radius: 0;
}
.btnsearch{
    background: #EFE204;
    color: #030E3C !important;
    border-radius: 0;
}
.isotopeWrapper article {
	margin-bottom: 30px;
}
#portfolio {
}
#portfolio img {
	width: 100%;
}
#portfolio article p {
	margin-bottom: 1.45em;
	/*set next row on the baseline*/;
}
nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 10px;
}
nav#filter a {
	padding: 10px 20px;
	line-height: 20px;
	text-decoration: none;
	color: #FFFFFF;
	background: #A7A7A7;
}
nav#filter a.current {
	background: #FF822F;
	color: #FFFFFF;
}
.iconColor .fa {
	color: #ee0c45;
}
.portfolio-items article img {
	width: 100%;
}
.portfolio-item {
	display: block;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.portfolio-item img {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear;
}
.portfolio-item .portfolio-desc {
	display: block;
	opacity: 0;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	color: rgba(220, 220, 220);
}
.fancybox-overlay {
	background: rgba(0, 0, 0, 0.64);
}
.portfolio-item:hover .portfolio-desc {
	padding-top: 20%;
	height: 100%;
	transition: all 200ms ease-in-out 0s;
	opacity: 1;
	background: rgba(61, 61, 61, 0.67);
}
.portfolio-item .portfolio-desc a {
	color: #fff;
	text-align: center;
	display: block;
}
.portfolio-item .portfolio-desc a:hover {
	/*text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);*/
	text-decoration: none;
}
.portfolio-item .portfolio-desc .folio-info {
	top: -20px;
	padding: 30px;
	height: 0;
	opacity: 0;
	position: relative;
}
.portfolio-item:hover .folio-info {
	height: 100%;
	opacity: 1;
	transition: all 500ms ease-in-out 0s;
	top: 5px;
}
.portfolio-item .portfolio-desc .folio-info h5 {
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}
.portfolio-item .portfolio-desc .folio-info p {
	color: #ffffff;
	font-size: 12px;
}
.newsBox {
	margin-bottom: 12px;
}
.newsBox img {
	width: 100% !important;
}
/*Da Slider*/
.da-slider {
	width: auto;
	height: auto;
	max-height: initial;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
.da-slide h2 {
	text-align: left;
	top: 15%;
	font-weight: bold;
}
.da-slide p {
	text-align: left;
	top: 40%;
	font-size: 30px;
}
.da-arrows span {
	position: absolute;
	top: 45%;
}
.da-dots span.da-dots-current:after {
	content: '';
	background: #ae130c;
}
.team-member {
	padding-top: 5px;
	margin-bottom: 15px;
	background-color: #D6D6D6;
}
.team-heading {
	display: block;
	width: 100%;
}
.member-img {
	overflow: hidden;
}
.member-img img {
	border-radius: 0px;
	border: 1px solid rgb(218, 218, 218);
}
.team-socials {
	margin: 15px 0;
	display: block;
	text-align: center;
}
.team-socials i {
	width: 35px;
	height: 35px;
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	color: #949494;
}
.team-socials i:hover {
	color: #ae130c;
}
.team-member h4 {
	font-size: 19px;
	line-height: 32px;
	padding: 10px 0 0;
	text-align: center;
	margin: 0px;
}
.team-member .pos {
	display: block;
	margin: 0;
	text-align: center;
}
#head.secondary {
	height: 230px;
	min-height: 100px;
	padding-top: 0px;
	background: #181015 url(../images/bg_header.jpg) 0px -761px no-repeat;
	/*background: #ae130c;*/
	background-size: cover;
	text-align: left;
	margin-bottom: 25px;
}
/*Price table*/
.flat {
	margin: 30px 0;
}
.flat .plan {
	border-radius: 0px;
	list-style: none;
	padding: 0 0 20px;
	margin: 0 0 15px;
	background: #fff;
	text-align: center;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29) !important;
}
.flat .plan li {
	padding: 10px 15px;
	color: #ccc;
	border-top: 1px solid #f5f5f5;
	-webkit-transition: 300ms;
	transition: 300ms;
}
.flat .plan li.plan-price {
	border-top: 0;
}
.flat .plan li.plan-name {
	border-radius: 0;
	padding: 15px;
	font-size: 24px;
	line-height: 24px;
	color: #fff;
	background: #4E4E4E;
	margin-bottom: 30px;
	border-top: 0;
}
.flat .plan li > strong {
	color: #6B6B6B;
	font-weight: normal;
}
.flat .plan li.plan-action {
	margin-top: 10px;
	border-top: 0;
}
.flat .plan.featured {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.flat .plan.featured:hover li.plan-name, .flat .plan:hover li.plan-name, .flat .plan.featured.plan-name {
	background: #656565 !important;
}
.btn {
	color: hsl(0, 0%, 95%);
	box-shadow: none;
	border-radius: 0;
    padding: 12px 34px;
    border-radius: .5rem;
}
.footer2 a {
	padding: 4px 8px;
}

/**
  MEDIA QUERIES
*/
@media (max-width: 767px) {
#head.secondary {
	height: 80px;
	min-height: 80px;
	background-size: initial;
}
#camera_wrap_4, #head{
height:400px !important;
}
#head .lead {
	font-size: 34px;
}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
#quote-carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
}

@media (max-width: 767px) {
.navbar-collapse ul {
	text-align: right;
	margin-right: 0px;
}
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
#camera_wrap_4, #head{
height:400px !important;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
	font-size: 13px;
}
#quote-carousel .carousel-indicators {
	bottom: -20px !important;
}
#quote-carousel .carousel-indicators li {
	display: inline-block;
	margin: 0px 5px;
	width: 15px;
	height: 15px;
}
#quote-carousel .carousel-indicators li.active {
	margin: 0px 5px;
	width: 20px;
	height: 20px;
}
.footer2 p {
	margin: 0;
	text-align: center;
}
}

@media (max-width: 420px) {
#camera_wrap_4, #head{
height:380px !important;
}
.da-slide h2 {
	font-size: 28px;
}
.da-slide p {
	font-size: 19px;
	font-weight: 400;
}
}

/* header */

.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-header);
    background: var(--color-header);
    z-index: 999999;
}
.container-header a{
    color: hsl(0, 0%, 95%);
}

.content-header{
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 2rem;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
}
.logo a{
    width: 100%;
    display: flex;
}
.logo img{
    margin: auto;
}
@media (min-width: 768px){
    .logo img{
        width: 90%;
    }
}
@media (min-width: 1024px){
    .logo img{
        width: 80%;
        height: 80%;
    }
}
.content-header .logo a:hover{
    text-decoration: none;
}
.container-menu{
    display: none;
    width: 80%;
}
.container-toggle{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.toggle{
    cursor: pointer;
}
.menu{
    display: flex;
}
.menu-item{
    margin-right: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
}
.menu-item-link{
    position: relative;
}
.menu-item-link:hover{
    color: hsl(0, 0%, 80%);
}
.item-link-text{
    margin-left: 2rem;
}
.menu-item-link svg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.6rem;
    height: 1.6rem;
}
.menu a{
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.6rem;
}
.menu-item:hover .submenu{
    opacity: 1;
    pointer-events: initial;
}
.submenu{
    position: absolute;
    top: 100%;
    flex-direction: column;
    background: hsl(180, 50%, 25%);
    border-radius: .5rem;
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
}
.submenu .menu-item{
    margin-bottom: 1rem;
    justify-content: flex-start;
}
.menu-item-deploy{
    display: flex;
    align-items: center;
    align-content: center;
}
.menu-item-deploy .menu-item-link{
    margin-right: .5rem;
}
.menu-item-deploy svg{
    width: 1.5rem;
}
.icon-down{
    display: flex;
    align-items: center;
    align-content: center;
}
.icon-up{
    display: none;
}
.menu-item:hover .icon-up{
    display: flex;
    align-items: center;
    align-content: center;
}
.menu-item:hover .icon-down{
    display: none;
}
@media (min-width: 1024px) {
    .container-menu{
        display: flex;
        justify-content: flex-end;
    }
    .container-toggle{
        display: none;
    }
}

.container-menu-mobile{
    position: fixed;
    top: var(--height-header);
    right: -100%;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 20%, .8);
    display: flex;
    justify-content: flex-end;
    transition: right .2s;
    z-index: 99999;
}

.open-menu-mobile{
    right: 0;
    transition: right .2s;
}
@media (min-width: 1024px) {
    .open-menu-mobile{
        right: -100%;
    }
}
.content-menu-mobile{
    /* background: var(--color-header); */
    background: hsl(180, 50%, 15%);
    width: 70%;
    height: calc(100% - var(--height-header));
    overflow-y: scroll;
}
.content-menu-mobile > .menu-mobile{
    padding: 1rem;
}
.menu-mobile{
    list-style: none;
}
.menu-item-mobile{
    margin-bottom: 1rem;
}
.menu-item-link-mobile{
    display: block;
    padding: .5rem;
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    color: hsl(0, 0%, 95%);
    position: relative;
}
.item-link-mobile-text{
    margin-left: 3rem;
}
.menu-item-link-mobile svg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    width: 1.6rem;
    height: 1.6rem;
}
.menu-item-link-mobile:hover{
    text-decoration: none;
    color: hsl(0, 0%, 70%);
}
.menu-item-link-mobile:focus{
    text-decoration: none;
    color: hsl(0, 0%, 70%);
}

.menu-item-deploy-mobile{
    display: grid;
    grid-template-columns: 1fr max-content;
}
.icon-up-mobile, .icon-down-mobile{
    display: flex;
    align-items: center;
}
.icon-hide-mobile{
    display: none;
}
.icon-up-mobile svg, .icon-down-mobile svg{
    width: 1.5rem;
    height: 1.5rem;
}
.submenu-mobile{
    display: none;
}
.submenu-mobile .menu-item-mobile{
    border-bottom: 1px solid hsl(210, 50%, 30%);
}
.open-submenu-mobile{
    display: block;
}


.card-hover:hover{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.54);
	z-index: 1000;
	width: calc(100% + 2rem);
}
.icons-social-network a{
	color: #999999;
	margin-right: 2rem;
}
.icons-social-network .icon-facebook:hover{
	color: #3b5998;
}
.icons-social-network .icon-linkedin:hover{
	color: #0e76a8 ;
}
/* acerca de nosotros */
.more-mision li{
    /* border: 1px solid hsl(0, 0%, 90%); */
    /* margin-bottom: 1rem; */
    /* padding: 1rem; */
    /* box-shadow: 0 -.5rem .5rem hsl(0, 0%, 90%); */
    /* border-radius: -25rem; */
	/* text-align: center; */
	border-left: .5rem solid var(--color-header);
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.content-our-values{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 768px){
    .content-our-values{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px){
    .content-our-values{
        grid-template-columns: repeat(3, 1fr);
    }
}
.our-values-item{
    border: 1px solid hsl(0, 0%, 90%);
    box-shadow: 0 0 .5rem hsl(0, 0%, 90%);
    border-radius: .5rem;
}
.our-values-item:hover{
    box-shadow: 0 0 3rem  hsl(0, 0%, 70%);
}
.our-values-item h4,
.our-values-item p{
    padding: 0 1rem;
    text-align: center;
}

.content-our-team{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 768px){
    .content-our-team{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px){
    .content-our-team{
        grid-template-columns: repeat(3, 1fr);
    }
}
.our-team-item{
    border: 1px solid hsl(0, 0%, 90%);
    box-shadow: 0 0 .5rem  hsl(0, 0%, 90%);
    border-radius: .5rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}
.our-team-item:hover{
    width: 72%;
    box-shadow: 0 0 3rem  hsl(0, 0%, 70%);
    transition: width .5s;
}
.team-item-header{
    height: 25rem;
}
.team-item-header img{
    width: 100%;
    height: 100%;
}
.modal-team{
    position: fixed;
    top: var(--height-header);
    left: -100%;
    width: 100%;
    height: calc(100% - var(--height-header));
    background: hsla(0, 0%, 0%, .8);
    display: flex;
    z-index: 9999;
    /* opacity: 0; */
    /* pointer-events: none; */
}
.open-modal-team{
    /* opacity: 1; */
    /* pointer-events: initial; */
    left: 0;
    transition: left .3s;
}
.content-modal-team{
    background: hsl(0, 0%, 95%);
    width: 90%;
    overflow: hidden;
    border-radius: .5rem;
    margin: auto;
}
@media (min-width: 500px){
    .content-modal-team{
        width: 70%;
    }
}
@media (min-width: 768px){
    .content-modal-team{
        width: 50%;
    }
}
@media (min-width: 1024px){
    .content-modal-team{
        width: 40%;
    }
}
.modal-team-header{
    text-align: center;
    position: relative;
}
.modal-team-header img{
    width: 40%;
    border-radius: 50%;
    /* border: 1px solid hsl(0, 0%, 90%); */
    /* box-shadow: 0 0 2rem hsl(0, 0%, 90%); */
}
.close-modal-team{
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    font-weight: bold;
}
.modal-team-body{
    text-align: center;
}
.modal-team-footer{
    padding: 1rem;
}

/* consultoria */
.content-consultancy{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width:768px) {
    .content-consultancy{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.consultancy-item{
    /* border: 1px solid var(--color-header); */
    /* box-shadow: 0 0 .5rem var(--color-header); */
    cursor: pointer;
    border-radius: .5rem;
    overflow: hidden;
    margin: auto;
}
@media (min-width:500px) {
    .consultancy-item{
        width: 70%;
    }
}
@media (min-width:768px) {
    .consultancy-item{
        width: 80%;
    }
}
.consultancy-item-header{
    height: 25rem;
}
.consultancy-item-header img{
    width: 100%;
    height: 100%;
}
.consultancy-item-body{
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    background: var(--color-header);
    color: hsl(0, 0%, 95%);
}
@media (min-width:768px) {
    .consultancy-item-header{
        /* height: 75%; */
    }
    .consultancy-item-body{
        padding: 0 1rem;
        /* height: 25%; */
    }
}
@media (min-width:1024px) {
    .consultancy-item-header{
        /* height: 85%; */
    }
    .consultancy-item-body{
        padding: 0 1rem;
        /* height: 15%; */
    }
}
.modal-consultancy{
    position: fixed;
    top: var(--height-header);
    left: -100%;
    width: 100%;
    height: calc(100% - var(--height-header));
    background: hsla(0, 0%, 0%, .8);
    display: flex;
    z-index: 9999;
}
.open-modal-consultancy{
    /* opacity: 1; */
    /* pointer-events: initial; */
    left: 0;
    transition: left .3s;
}

.content-modal-consultancy{
    background: hsl(0, 0%, 95%);
    width: 90%;
    max-height: 90%;
    border-radius: .5rem;
    margin: auto;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.modal-consultancy-header{
    text-align: center;
    border-bottom: 1px solid hsl(180, 50%, 85%);
    position: relative;
    /* box-shadow: 0 0 1rem hsl(180, 50%, 85%); */
}
.modal-consultancy-title{
    margin: 1rem 3rem;
}
.icon-close-modal-consultancy{
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}
.icon-close-modal-consultancy:hover{
    color:  hsl(0, 0%, 30%);
}
.modal-consultancy-body{
    overflow-y: scroll;
    padding: 1rem;
}
@media (min-width:768px) {
    .modal-consultancy-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: max-content max-content; */
        gap: 1rem;
        align-items: center;
    }
}
@media (min-width:1024px) {
    .content-modal-consultancy{
        width: 70%;
    }
}

.modal-consultancy-body::-webkit-scrollbar{
    width: .5rem;
}
.modal-consultancy-body::-webkit-scrollbar-thumb{
    background: hsl(0, 0%, 80%);
    border-radius: .25rem;
}
.modal-consultancy-body::-webkit-scrollbar-thumb:hover{
    background: hsl(0, 0%, 70%);
}
.modal-consultancy-body::-webkit-scrollbar-track{
    background: hsl(0, 0%, 100%);
}
.modal-consultancy-body article{
    background:  hsl(180, 50%, 90%);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
.modal-consultancy-body li{
    border-left: .5rem solid hsl(180, 50%, 70%);
    margin-bottom: 1rem;
    padding-left: .5rem;
}
.modal-consultancy-footer{
    text-align: center;
}

/* cursos */
.content-courses{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media (min-width:500px){
    .content-courses{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1024px){
    .content-courses{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.course-item{
    /* border: 1px solid hsl(180, 50%, 80%); */
    border-radius: .5rem;
    overflow: hidden;
    width: 70%;
    margin: auto;
    cursor: pointer;
    /* height: 30rem; */
}
@media (min-width:768px){
    .course-item{
        width: 80%;
    }
}
@media (min-width:1024px){
    .course-item{
        width: 70%;
    }
}
.course-item-header{
    height: 18rem;
}
.course-item-header img{
    width: 100%;
    height: 100%;
}
.course-item-body{
    /* height: 20; */
    background: var(--color-header);
}
.course-item-title{
    text-align: center;
    padding: 1rem;
}

/* modal para curso */
.modal-course-item{
    position: fixed;
    top: var(--height-header);
    left: -100%;
    width: 100%;
    height: calc(100% - var(--height-header));
    background: hsla(0, 0%, 0%, .8);
    display: flex;
    z-index: 9999;
}
.open-modal-course{
    left: 0;
    transition: left .2s;
}
.content-modal-course{
    background: hsl(0, 0%, 95%);
    margin: auto;
    width: 90%;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    padding: 1rem;
}
@media (min-width:768px){
    .content-modal-course{
        width: 50%;
    }
}
@media (min-width:1024px){
    .content-modal-course{
        width: 40%;
    }
}
.modal-course-header{
    border-bottom: 1px solid hsl(0, 0%, 90%);
}
.icon-close-modal-course{
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    top: .5rem;
    right: 1rem;
}
.icon-close-modal-course:hover{
    color: hsl(0, 0%, 30%);
}
.modal-course-header h4{
    text-align: center;
}
.modal-course-body{
}
.modal-course-body p{
    text-align: center;
}
.modal-course-footer{
    padding: 0 1rem;
    text-align: center;
}





@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-20rem * 3));
	}
}
@media (min-width: 768px) {
	@keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-40rem * 3));
        }
    }
}
.comments{
    background: hsl(210, 50%, 15%);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
	/* height: 10rem; */
	margin: auto;
	overflow: hidden;
	position: relative;
    /* width: 960px; */
    width: 100%;
    color: hsl(0, 0%, 95%);
}
.comments::before,
.comments::after{
    background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 10%
        /* hsla(210, 50%, 15%, 0) 100% */
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}
@media (min-width: 768px) {
	.comments::before,
    .comments::after{
        background: linear-gradient(
		to right,
		rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
        /* hsla(210, 50%, 15%, 0) 100% */
    );
    }
}
.comments::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.comments::before{
    left: 0;
    top: 0;
}
.content-comments{
	/* display: flex;
	flex-direction: row;
    align-items: center;
    width: 200%; */
    padding: 2rem 0;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(20rem * 6);
}
@media (min-width: 768px) {
	.content-comments{
        width: calc(40rem * 6);
    }
}
.comment-item{
    display: flex;
    flex-direction: column;
    width: 20rem;
    /* width: 550px; */
    /* background: #F3F3F3; */
    background:  transparent;
    border: 1px solid hsl(210, 50%, 20%);
    box-shadow: 0 0 1rem;
    border-radius: .5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

}
.comment-item-header{
    display: flex;
    margin-bottom: .5rem;
}
.comment-img{
    width: 4rem;
    margin-right: 1rem;
}
.comment-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.comment-img img{
    width: 100%;
}
.comment-title-text{
    font-weight: bold;
}
.comment-item-body .comment-title{
	font-weight: bold;
}

.comment-item img{
	width: 100%;
	border-radius: 50%;
}
@media (min-width: 768px) {
	.comment-item{
		width: 60%;
	}
}


.projects{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
@media (min-width: 768px) {
	.projects{
        grid-template-columns: repeat(3, 1fr);
    }
}
.project-item{
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: .5rem;
    box-shadow: 0 0 2rem hsl(0, 0%, 80%);
    overflow: hidden;
    cursor: pointer;
}
.project-item-header img{
    width: 100%;
}
.project-item-body{
    padding: 1rem;
}
.proyect-item-title{
    font-size: 1.6rem;
    font-weight: bold;
}

/* modal proyecto */
.modal-project{
    position: fixed;
    top: var(--height-header);
    left: 0;
    width: 100%;
    height: calc(100% - var(--height-header));
    color: white;
    background: hsla(0, 0%, 0%, .8);
    display: flex;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}
.open-modal-project{
    opacity: 1;
    transition: opacity .5s;
    pointer-events: initial;
}
.content-modal-project{
    width: 90%;
    background: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: .5rem;
    box-shadow: 0 0 .5rem hsl(0, 0%, 80%);
    color: hsl(0, 0%, 20%);
    margin: auto;
}
@media (min-width: 600px) {
	.content-modal-project{
        width: 70%;
    }
}
@media (min-width: 800px) {
	.content-modal-project{
        width: 50%;
    }
}
@media (min-width: 1125px) {
	.content-modal-project{
        width: 40%;
    }
}
.modal-project-header{
    position: relative;
}
.modal-project-header{
    width: 100%;
}
.modal-project-header .icon-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-project-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.modal-project-body{
    padding: 1rem;
}



/* formas de pago */
.methods-payment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px) {
	.methods-payment{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.payment-item{
    width: 90%;
    border: 1px solid hsl(0, 0%, 90%);
    box-shadow: 0 0 .5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}
.payment-item-body{
    padding: 1rem;
}


/* botones */
.btn:hover{
    background: hsl(120, 50%, 50%);
}
.btn-primary{
    background: var(--color-header);
}
.messageForm{
    background: hsl(120, 50%, 70%);
    color: hsl(120, 50%, 20%);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}
